html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(255, 248, 248);
}

aside {
  margin: 0 5%;
}

header {
  background-color: rgb(64, 0, 0);
  color:aliceblue;
}

nav {
  background-color: rgb(81, 44, 44);
}

header ul {
  display: flex;
  justify-content: space-around;
}

header li {
  list-style: none;
  padding: 5px 35px;
  font-size: 1.2rem;
}

header li:hover {
  background-color: rgb(70, 4, 4);
}

header p {
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 1.2rem;
}

.aside-one, .aside-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-one h2, .aside-two h2 {
  width: 90%;
  text-align: center;
  margin: 10px 0 5px 0;
  color: rgb(70, 4, 4);
}

.aside-one ul, .aside-two ul {
  list-style: none;
  font-size: 1.1rem;
}

.aside-two {
  margin-top: 15px;
}

hr {
  width: 20%;
  margin-top: 25px;
}

article {
  background-image: url(https://thumbs.dreamstime.com/b/paper-texture-white-watercolor-paper-texture-background-paper-texture-white-watercolor-paper-texture-background-high-resolution-156813309.jpg);
  margin: 10px;
  padding: 0px 20px;
}

article h1 {
  padding-top: 20px;
  text-align: center;
}

article p {
  font-size: 1.2rem;
  text-align: justify;
}

footer {
  margin: 15px;
}

@media screen and (min-width:600px) {
  
}

@media screen and (min-width:1200px) {
  
}